{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Withdraw Form</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9" style="margin-top: 50px;">
            <div class="card p-3 shadow">
                <form id="withdrawForm" method="POST" action="{% url 'process_withdrawform' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="customerMobileNumber">Customer Mobile Number</label>
                        <input type="tel" class="form-control" id="withdrawformcustomerMobileNumber" name="customermobilenumber" placeholder="Enter mobile number" required>
                        <small id="mobileNumberHelp" class="form-text text-muted">You will receive otp on your registered Mobile Number.</small>
                    </div>
                    <div class="form-group">
                        <label for="aadharNumber">Aadhar Number</label>
                        <input type="text" class="form-control" id="withdrawformaadharNumber" name="aadharNumber" placeholder="Enter Aadhar number" pattern="[0-9]{12}" maxlength="12" title="Enter 12-digit Aadhar Number" required>
                        <small id="aadharNumberHelp" class="form-text text-muted">Enter 12-digits Aadhar Number.</small>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" class="form-control" id="withdrawformamount" name="amount" placeholder="Enter amount" required>
                        <small id="amountHelp" class="form-text text-muted">Enter the amount you want to withdraw.</small>
                    </div>
                    <div class="form-group">
                        <label for="bankOption">Bank Option</label>
                        <select class="form-control" id="withdrawformbankOption" name="bankOption">
                            {% for bank in bank_data %}
                                <option value="{{ bank.ShortCode }}">{{ bank.BANK_NAME }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="transactionType">Transaction Type</label>
                        <select class="form-control" id="withdrawformtransactionType" name="transactionType">
                            <option value="21">Purchase of Goods</option>
                            <option value="22">Cash Withdrawal</option>
                            <option value="23">Deposit</option>
                            <option value="24">Fund Transfer</option>
                            <option value="26">Issuer Bio Auth</option>
                            <option value="27">SHG Cash Withdrawal</option>
                            <option value="28">SHG Cash Deposit</option>
                            <option value="29">SHG Fund Transfer</option>
                            <option value="00">Authentication</option>
                        </select>
                    </div>
                    <div class="row">
                        &nbsp; &nbsp; <button type="button" id="authenticateBtn" class="btn btn-primary btn-authenticate">Authenticate</button> &nbsp; &nbsp; &nbsp; 
                        <button type="submit" class="btn btn-primary btn-withdraw">Proceed</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS (Optional, only required if you need Bootstrap JavaScript features) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>


{% endblock content %}